{% extends "store/base.html" %}
{%block content%}

<section id="billboard" class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="section-title text-center mt-4" data-aos="fade-up">About </h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
          <p>OREA, we believe that great style starts with the right basics. That's why we offer a wide selection of high-quality blank apparel at wholesale prices—without the need for bulk orders or business accounts. Whether you're stocking up on everyday essentials, launching a clothing brand, or customizing pieces for your team, we've got you covered</p>
        </div>
      </div>
    </section>
{%endblock%}