{% extends "store/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

{%block content %}
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="{% static 'img/img.jpg'%}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Our Blog</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1523504706857-0b1cc4956993?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzU4fHxtZW58ZW58MHwwfDB8fHww"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://images.pexels.com/photos/11314107/pexels-photo-11314107.jpeg" alt="" /> 16 February
                  2020</span
                >
                <h5>What Curling Irons Are The Best Ones</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://plus.unsplash.com/premium_photo-1688497830977-f9ab9f958ca7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVuJTIwZmFzaGlvbnxlbnwwfDB8MHx8fDA%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://plus.unsplash.com/premium_photo-1706807135389-352791f5d1d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWVuJTIwZmFzaGlvbnxlbnwwfDB8MHx8fDA%3D" alt="" /> 21 February
                  2020</span
                >
                <h5>Eternity Bands Do Last Forever</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://media.istockphoto.com/id/1437217391/fr/photo/homme-%C3%A0-la-mode-portant-un-manteau-noir-un-col-roul%C3%A9-un-pantalon-des-mocassins-des-chaussures.webp?a=1&b=1&s=612x612&w=0&k=20&c=iAiTccudE6OceF7VCSprfPyrFbW8Pn1Jkz0fpOrgFzU="
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://plus.unsplash.com/premium_photo-1674669321691-958db874f59e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1lbiUyMGZhc2hpb258ZW58MHwwfDB8fHww" alt="" /> 28 February
                  2020</span
                >
                <h5>The Health Benefits Of Sunglasses</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://plus.unsplash.com/premium_photo-1706806943520-0387c9b63664?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWVuJTIwZmFzaGlvbnxlbnwwfDB8MHx8fDA%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://images.pexels.com/photos/1819482/pexels-photo-1819482.jpeg" alt="" /> 16 February
                  2020</span
                >
                <h5>Aiming For Higher The Mastopexy</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1656696160196-3c3039d2b200?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzU4fHxob21tZXMlMjBmYXNoaW9ufGVufDB8MHw0fHx8Mg%3D%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://images.pexels.com/photos/157928/young-man-male-handsome-model-attractive-157928.jpeg" alt="" /> 21 February
                  2020</span
                >
                <h5>Wedding Rings A Gift For A Lifetime</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1624395502487-128658b7e596?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzI4fHxob21tZXMlMjBmYXNoaW9ufGVufDB8MHw0fHx8Mg%3D%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://images.unsplash.com/photo-1524149185500-308421115345?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzA2fHxob21tZXMlMjBmYXNoaW9ufGVufDB8MHw0fHx8Mg%3D%3D" alt="" /> 28 February
                  2020</span
                >
                <h5>The Different Methods Of Hair Removal</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1635913906376-53130718255a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDEyfHxob21tZXMlMjBmYXNoaW9ufGVufDB8MHw0fHx8Mg%3D%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://plus.unsplash.com/premium_photo-1675130119426-0b2c2379a190?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTEzfHxtZW4lMjBjbG90aGluZ3xlbnwwfDB8MHx8fDA%3D" alt="" /> 16 February
                  2020</span
                >
                <h5>Hoop Earrings A Style From History</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1580657018950-c7f7d6a6d990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQyfHxtZW4lMjBjbG90aGluZ3xlbnwwfDB8MHx8fDI%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://plus.unsplash.com/premium_photo-1706759222037-087d9f3a3920?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjk2fHxtZW58ZW58MHwwfDB8fHww" alt="" /> 21 February
                  2020</span
                >
                <h5>Lasik Eye Surgery Are You Ready</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div
                class="blog__item__pic set-bg"
                data-setbg="https://images.unsplash.com/photo-1496217498873-087c9367db90?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzJ8fG1lbnxlbnwwfDB8MHx8fDA%3D"
              ></div>
              <div class="blog__item__text">
                <span
                  ><img src="https://images.unsplash.com/photo-1554381316-e7ae6a16bdf4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODd8fG1lbnxlbnwwfDB8MHx8fDA%3D" alt="" /> 28 February
                  2020</span
                >
                <h5>Lasik Eye Surgery Are You Ready</h5>
                <a href="{% url 'store:nothing'%}">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
{%endblock%}
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
